.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    overflow: hidden;
}

.main-content img {
    width: 100%;
}

.main-content_title,
.main-content_subtitle,
.main-content button {
    margin-top: 1.8rem;
}

.main-content_title,
.main-content_subtitle {
    color: var(--gray);
    text-align: center;
}

.main-content_title {
    font-weight: 700;
    font-size: 2.1rem;
    line-height: 38px;
}

.main-content_subtitle {
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 20px;
    color: var(--gray);
    opacity: 0.7;
}

.main-content button {
    width: 80%;
    height: 4rem;
    border: none;
    border-radius: 16px;
    /* padding: 0.7rem 1rem; */
    text-align: center;
    vertical-align: middle;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
    background: var(--orange);
}