/* Estilos gerais */
body {
  font-family: "Roboto", sans-serif, Arial, Helvetica, sans-serif;
}

a,
p,
h3,
h2,
h1 {
  font-family: "Roboto", sans-serif, Georgia, "Times New Roman", Times, serif;
  text-decoration: none;
  list-style: none;
}

/* Navegação */
.container {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}

.header p {
  font-size: 24px;
  margin-left: 30px;
  color: #d2872c;
}

.header ul {
  display: flex;
}

.header li {
  font-size: 20px;
  font-weight: 300;
  margin: 0 20px;
  padding: 8px 8px;
  color: #000;
}

.header a {
  text-decoration: none;
  list-style: none;
  color: #000;
  padding: 10px;
}
.header a:hover {
  background-color: #ebebeb;
}

/* Estrutura */
#container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-grow: initial;
}

.content img {
  top: 28%;
  position: absolute;
  width: 50%;
  height: 60%;
  margin-left: 28%;
}

.content {
  margin: 40px 60px;
  color: #474747;
}
.content h1 {
  font-size: 52px;
  margin-left: 20px;
  letter-spacing: 1px;
}

.content p {
  font-size: 24px;
  margin-left: 20px;
}

.content h3 {
  color: #fff;
  font-size: 24px;
  letter-spacing: 2px;
}

/* Botão */

.btn {
  background-color: #d2872c;
  border: none;
  border-radius: 20px;
  width: 72%;
  height: 18%;
  padding-bottom: 18%;
  margin-left: 14px;
  cursor: pointer;
}
